@model SignService.Models.GraphUser

@{
    ViewData["Title"] = "Delete";
}

<h2>Reset Password</h2>

<h3>Are you sure you want to Reset this users's password?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObjectId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ObjectId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserPrincipalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserPrincipalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SignServiceConfigured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignServiceConfigured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KeyVaultUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KeyVaultUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimestampUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimestampUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KeyVaultCertificateName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KeyVaultCertificateName)
        </dd>
    </dl>
    
    <form asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="submit" value="Reset" class="btn btn-default"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
